Repository CircleCI-klsember/cci-monorepo-dynamic: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-api-workflow, run-app-workflow, run-auth-workflow, run-gateway-workflow

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.0

parameters:
  run-api-workflow:
    type: boolean
    default: false
  run-app-workflow:
    type: boolean
    default: false
  run-auth-workflow:
    type: boolean
    default: false
  run-gateway-workflow:
    type: boolean
    default: false

jobs:
  common-pre:
    docker:
      - image: alpine
    steps:
      - common-say-hello
      - run: echo 'Jobs with `common-` prefix are intended to be shared among modules'
  api-run:
    executor: continuation/default
    steps:
      - checkout
      - continuation/continue:
          configuration_path: api/.circleci/config.yml
  app-run:
    executor: continuation/default
    steps:
      - checkout
      - continuation/continue:
          configuration_path: app/.circleci/config.yml
  auth-run:
    executor: continuation/default
    steps:
      - checkout
      - continuation/continue:
          configuration_path: auth/.circleci/config.yml
  gateway-run:
    executor: continuation/default
    steps:
      - checkout
      - continuation/continue:
          configuration_path: gateway/.circleci/config.yml


workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            api/.* run-api-workflow true
            app/.* run-app-workflow true
            auth/.* run-auth-workflow true
            gateway/.* run-gateway-workflow true
      - common-pre
      - api-run:
          when:
            - << pipeline.parameters.run-api-workflow >>
          requires:
            - common-pre
      - app-run:
          when:
            - << pipeline.parameters.run-app-workflow >>
          requires:
            - common-pre
      - auth-run:
          when:
            - << pipeline.parameters.run-auth-workflow >>
          requires:
            - common-pre
      - gateway-run:
          when:
            - << pipeline.parameters.run-gateway-workflow >>
          requires:
            - common-pre

Update README.md
  auth/README.md
Due: run-auth-workflow

Updating child config
  api/.circleci/config.yml
  app/.circleci/config.yml
  auth/.circleci/config.yml
  gateway/.circleci/config.yml
Due: run-api-workflow, run-app-workflow, run-auth-workflow, run-gateway-workflow

Trying again
  .circleci/config.yml
  api/.circleci/config.yml
  app/.circleci/config.yml
  auth/.circleci/config.yml
  gateway/.circleci/config.yml
Due: run-api-workflow, run-app-workflow, run-auth-workflow, run-gateway-workflow

Cleaning up config
  .circleci/config.yml
Due: none

Updaying for dynamic
  .circleci/config.yml
  .circleci/dynamic_config.yml
  api/.circleci/config.yml
  app/.circleci/config.yml
  auth/.circleci/config.yml
  gateway/.circleci/config.yml
Due: run-api-workflow, run-app-workflow, run-auth-workflow, run-gateway-workflow

Update config.yml
  .circleci/config.yml
Due: none
